<launch>

<master auto="start"/>

<include file="$(find turtlebot_walle)/launch/turtlebot_world.launch">
  <arg name="world_file" value="worlds/willowgarage.world"/>
</include>

<include file="$(find turtlebot_navigation)/launch/includes/gmapping/gmapping.launch.xml"/>

<node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
  <param name="robot_base_frame" value="base_footprint"/>
  <param name="costmap_topic" value="map"/>
  <param name="visualize" value="true"/>
  <param name="planner_frequency" value="1"/>
  <param name="progress_timeout" value="30.0"/>
  <param name="potential_scale" value="3.0"/>
  <param name="orientation_scale" value="0.0"/>
  <param name="gain_scale" value="1.0"/>
  <param name="transform_tolerance" value="0.3"/>
  <param name="min_frontier_size" value="0.5"/>
</node>

<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
 <rosparam file="$(find turtlebot_walle)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
 <rosparam file="$(find turtlebot_walle)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
 <rosparam file="$(find turtlebot_walle)/param/local_costmap_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_walle)/param/global_costmap_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_walle)/param/dwa_local_planner_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_walle)/param/navfn_global_planner_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_walle)/param/global_planner_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_walle)/param/move_base_params.yaml" command="load" />
 <remap from="cmd_vel" to="/cmd_vel_mux/input/navi"/>
</node>


</launch>
